.btn-warning {
    background-color: #ffc107;
    border: none;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    color: white;
}

.btn-warning:hover, .btn-danger:hover {
    opacity: 3.0;
}

.img-thumbnail {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
}
